@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.bets-list {
  @include flexbox($dir: column, $gap: 2rem);
  @include phone {
    // display: none;
  }

  &__container {
    @include flexbox($dir: column);
  }

  &__header {
    display: grid;
    grid-template-columns: 2fr 2fr repeat(3, 3fr) 2fr 2fr 1fr;
    padding-bottom: 2rem;
    @include phone {
      display: none;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 2fr 2fr repeat(3, 3fr) 2fr 2fr 1fr;
    border-top: 1px solid $sx-gray;
    padding: 1rem 0;

    @include phone {
      grid-template-columns: 1fr 3fr;
    }

    &:hover {
      background: $background-black;
    }

    &-text {
      padding-right: 1rem;
    }

    &-phone-header {
      display: none;
      @include phone {
        display: revert;
        font-weight: 600;
      }
    }
  }
}
