@use "../../../styles/partials/mixins" as *;

.nav__modal {
  display: none;
  @include phone {
    @include flexbox($dir: column, $gap: 5rem);
    padding-top: 3rem;
  }
}

.header__nav-modal {
  // @include flexbox($dir: column, $gap: 2rem, $justify: center, $align: center);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}
