@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.markets {
  &__card {
  }

  &__title {
  }

  &__list {
  }

  &__headers {
    @include flexbox;
    padding: 1rem 0;
  }

  &__items {
    @include flexbox;
    padding: 1rem 0;
    border-top: 1px solid $sx-gray;

    &:hover {
      background: $background-black;
    }
  }

  &__item {
    flex-basis: 20%;
    font-size: 1.8rem;

    &--small {
      flex-basis: 10%;
      font-size: 1.8rem;
    }

    &--large {
      flex-basis: 40%;
      font-size: 1.8rem;
    }
  }
}
