@use "../../styles/partials/mixins" as *;

.betsize {
  &__card {
    @include flexbox($dir: column, $gap: 1rem);
  }

  &__content {
    @include flexbox($align: center, $gap: 2rem);
  }

  &__picture {
    flex-basis: 10%;
    @include flexbox($justify: center);
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__text {
    font-size: 3rem;
  }

  &__tooltip-icon {
    height: 2.5rem;
  }
}
