@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tipsters {
  &__card {
    @include flexbox($dir: column, $gap: 3rem);

    &-description {
      @include flexbox($align: center, $gap: 3rem);
    }

    &-icon {
      height: 5rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 19fr;
    justify-items: center;
    border-bottom: 1px solid $sx-gray;
    @include padding($size: small);

    &:hover {
      background: $background-black;
    }

    &-content {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 2fr 3fr 3fr repeat(4, 2fr);
      justify-items: center;
    }

    &-header {
      &:hover {
        background: $background-gray;
      }
    }
  }

  &__item {
    &--sort {
      cursor: pointer;
      @include flexbox($align: center, $gap: 0.5rem);
    }

    &--profit {
      color: $sx-green;
    }

    &--loss {
      color: $sx-red;
    }

    &-icon {
      height: 2rem;
      width: 2rem;
      align-self: center;
      fill: $background-gray;
      cursor: pointer;
      &:hover {
        fill: $sx-blue;
      }

      &--selected {
        fill: $sx-blue;
      }
    }
  }
}
