$font-stack: "Roboto", "Fira Sans", "sans-serif";

$background-black: #161616;
$background-gray: #1e1e1e;

$sx-white: white;
$sx-gray: #4e4e4e;
$sx-blue: #00e5ff;
$sx-orange: #ff8e00;
$sx-green: #15ff4f;
$sx-red: #f94144;
