@use "../../styles/partials/mixins" as *;

.app {
  @include flexbox;

  &__sidebar {
    @include phone {
      display: none;
    }
  }

  &__all {
    flex-grow: 1;
    min-height: 100vh;
    @include flexbox($dir: column);
  }

  &__main {
    @include padding($size: big);
  }
}
