@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  position: relative;
  background-color: $background-gray;
  @include padding($size: medium);
  border-radius: 10px;
  box-shadow: 6px 6px 5px 0 black;
  border: 1px solid rgb(255 255 255 / 5%);

  &:after {
    content: "";
    height: 25%;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, $sx-blue, transparent);
    opacity: 0;
  }

  &:hover:after {
    top: 10%;
    opacity: 1;
  }
}
