@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  background-color: $background-gray;
  @include padding($size: medium);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px $sx-light-gray;
}
