@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.history {
  &__wrapper {
    @include tablet-phone() {
      @include flexbox($justify: center);
    }
  }

  &__button {
    @include flexbox($gap: 1rem, $align: center);
    padding: 0.5rem 2rem;
    background: rgb(3, 139, 255);
    background: linear-gradient(
      to bottom right,
      rgba(109, 188, 255, 1) 0%,
      rgba(5, 9, 200, 1) 100%
    );
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;

    &--loading {
      background: linear-gradient(
        to bottom right,
        rgb(134, 134, 134) 0%,
        rgb(60, 60, 60) 100%
      );
    }

    &--hidden {
      display: none;
    }
  }
}
