@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $background-gray;
  @include flexbox($justify: space-between);
  @include padding($size: small);

  &__nav {
    @include flexbox($gap: 2rem);

    &-link {
      padding: 1rem 2rem;
      border-radius: 20px;

      &.active,
      &:hover {
        color: $background-black;
        background: linear-gradient(
          to bottom right,
          rgba(255, 142, 0, 1) 0%,
          rgba(255, 209, 151, 1) 100%
        );
      }
    }
  }

  &__button {
    padding: 1rem 2rem;
    background: rgb(3, 139, 255);
    background: linear-gradient(
      to bottom right,
      rgba(109, 188, 255, 1) 0%,
      rgba(5, 9, 200, 1) 100%
    );

    border: none;
    border-radius: 10px;
  }
}
