@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $background-gray;
  @include flexbox($justify: space-between);
  padding: 2.5rem 3rem 1.2rem 3rem;
  position: sticky;
  top: -1.3rem;
  z-index: 2;
  box-shadow: 6px 6px 5px 0 black;
  border-bottom: 1px solid rgb(255 255 255 / 5%);

  @include phone {
    display: block;
  }

  &__button {
    @include flexbox($gap: 1rem, $align: center);
    padding: 1rem 2rem;
    background: rgb(3, 139, 255);
    background: linear-gradient(
      to bottom right,
      rgba(109, 188, 255, 1) 0%,
      rgba(5, 9, 200, 1) 100%
    );
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 3px 3px 2px 0 black;
    font-size: 1.6rem;
  }

  &__phone {
    display: none;
    height: 50px;
    @include phone {
      @include flexbox($justify: space-between);
    }

    &-logo {
      height: 100%;
    }
  }

  &__icon {
    fill: $sx-orange;
    align-self: center;

    &-burger {
      height: 75%;
    }

    &-close {
      height: 50%;
    }
  }

  &__nav {
    @include flexbox($gap: 2rem);

    @include phone {
      gap: 1rem;
    }

    &-main {
      @include phone {
        display: none;
      }
    }

    &-link {
      padding: 1rem 2rem;
      border-radius: 20px;

      &.active,
      &:hover {
        color: $background-black;
        background: linear-gradient(
          to bottom right,
          rgba(255, 142, 0, 1) 0%,
          rgba(255, 209, 151, 1) 100%
        );
      }
    }
    &-login {
      @include flexbox($gap: 2rem);
      @include tablet-phone {
        display: none;
      }
    }
  }
}
