@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
  &__container {
    display: grid;
    gap: 2rem;
  }

  &__description {
    @include flexbox($align: center, $gap: 2rem);

    &-icon {
      height: 5rem;
    }
  }

  &__form {
    @include flexbox($gap: 1rem);
    @include tablet-phone {
      flex-direction: column;
      align-items: center;
    }

    &-card {
      @include flexbox($dir: column, $gap: 2rem);
    }
  }

  &__search {
    background-image: url("../../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.5rem;
    min-height: 50px;
    width: 75%;
    max-width: 500px;
    min-width: 250px;
    font: inherit;
    font-size: 1.6rem;
    border-radius: 20px;
    padding-left: 30px;
  }

  &__search-button {
    @include flexbox($gap: 2rem, $align: center);
    padding: 0.5rem 2rem;
    background: rgb(3, 139, 255);
    background: linear-gradient(
      to bottom right,
      rgba(109, 188, 255, 1) 0%,
      rgba(5, 9, 200, 1) 100%
    );
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 250px;

    &:hover #light1 {
      transform: translateX(20%);
    }

    &:hover #dark1 {
      transform: translateX(40%);
      opacity: 0;
    }

    &:hover #dark2 {
      transform: translateX(0%);
    }

    &-icon {
      width: 4rem;
      height: 4rem;
    }
  }

  &-stats__combined {
    @include flexbox($dir: row, $gap: 2rem);
    @include phone {
      flex-direction: column;
    }
  }

  &-stats__combined2 {
    @include flexbox($dir: row, $gap: 2rem);

    &--subcontainer {
      @include flexbox($dir: column, $gap: 2rem);
      flex-grow: 1;
      @include phone {
        display: none;
      }
    }
  }

  &-stats__bettype-treemap {
    width: 20vw;
    @include phone {
      width: 100%;
      min-height: 200px;
    }
  }

  &-stats__type-chart {
    max-height: 200px;
  }

  &__loading-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    &--long {
      grid-column-start: 1;
      grid-column-end: span 3;
    }
  }
}

.card__sports-treemap {
  flex-grow: 1;
  @include phone {
    min-height: 200px;
  }
}

#darkGroup {
  fill: $background-black;
}
#lightGroup {
  fill: $sx-gray;
}
#dark1,
#light1,
#dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateX(-100%);
}

.hovertext text {
  font-size: 1.6rem !important;
  font-family: $font-stack !important;
}
