@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
  min-width: 200px;
  max-width: 225px;
  background-color: $background-gray;
  @include flexbox($dir: column, $gap: 2rem);
  box-shadow: 6px 6px 5px 0 black;
  // border: 1px solid rgb(255 255 255 / 5%);

  position: sticky;
  top: 0;
  height: 100vh;

  @include phone {
    max-width: 100%;
    box-shadow: none;
  }

  &__content {
    @include flexbox($dir: column, $gap: 1rem);
    height: 100vh;

    @include phone {
      height: fit-content;
    }
  }

  &__logo {
    @include padding($size: medium);
  }

  &__icons {
    @include flexbox($dir: column, $gap: 1rem);
    flex-grow: 1;
  }

  &__updateTime {
    @include padding($size: medium);
    color: $sx-white;
  }
}
