@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: $background-gray;
  @include padding($size: medium);
  @include flexbox($dir: column);
  margin-top: auto;
  box-shadow: 10px 0 5px 5px black;

  &__banner {
    align-self: center;
  }

  &__header {
    font-size: 1.6rem;
  }

  &__text {
    font-size: 1.2rem;
  }
  &__icon {
    height: 3rem;
    cursor: pointer;
  }

  &__email {
    @include flexbox($align: center, $gap: 10rem);

    &-text {
      border-radius: 10px;
      padding: 0 0.5rem;
      background-color: $sx-orange;
    }
  }
}
