@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.club-house {
  @include flexbox($dir: column, $gap: 2rem);

  &__overview {
    @include flexbox($gap: 2rem, $align: center);
  }

  &__icon {
    height: 5rem;
  }

  &__tipsters {
    @include flexbox($dir: column, $gap: 2rem);
  }

  &__tipsters-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
  }

  &__tipster {
    padding: 0 1rem;
    color: white;
    border-radius: 20px;
    border: 1px solid $sx-gray;
    text-align: center;
    cursor: pointer;

    &--selected {
      background-color: $background-black;
    }

    &--unselected {
      background-color: $background-gray;
      opacity: 0.3;
    }
  }
}
