@use "../../styles/partials/mixins" as *;

.stats-card {
  @include flexbox($gap: 2rem);
  // max-height: 150px;

  &__content {
    @include flexbox($dir: column, $justify: center, $align: center);
    flex-grow: 1;
  }

  &__stat {
    @include font($size: 3rem);
  }

  &__text {
    @include font($size: 2rem);
  }

  &__image {
    height: 50%;
    align-self: center;
  }
}
