@use "../../styles/partials/_mixins.scss" as *;

.card {
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 200px 200px 500px;
    gap: 2rem;
  }
  &__volume {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  &__num-bets {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  &__num-addresses {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  &__num-markets {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  &__treemap {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: span 3;
  }

  &__sunburst {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
  }

  &__barchart {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 4;
    grid-row-end: span 1;
  }

  &__market-list {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
}
