@use "./styles/partials/resets" as *;
@use "./styles/partials/variables" as *;

// Scroll bar styling
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $sx-gray $background-gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $background-gray;
}

*::-webkit-scrollbar-thumb {
  background-color: $sx-gray;
  border-radius: 20px;
  border: 3px solid $background-gray;
}
