@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.sidebar__item {
  @include flexbox($align: center);

  &:hover .sidebar__icon {
    fill: $sx-blue;
  }

  &:hover .sidebar__item-title {
    color: $sx-white;
  }

  &-title {
    color: $sx-gray;
  }
}
